<div class="container">
    <button (click)="get500Error()" class="btn btn-outline-primary mx-3">Test 500 server Error</button> 
    <button (click)="get404Error()" class="btn btn-outline-primary mx-3">Test 404 Error</button> 
    <button (click)="get400Error()" class="btn btn-outline-primary mx-3">Test 400 Error</button> 
    <button (click)="get400ValidationError()" class="btn btn-outline-primary mx-3">Test 400 Validation Error </button>

    <div class="row mt-5" *ngIf="validationErrors">
        <ul class="text-danger" style="font-weight: bold;">
            <li *ngFor="let item of validationErrors">{{item}}</li>
        </ul>
    </div>
</div>
