<div class="text-center">

    <main class="form-signin">
        <form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
            <!-- <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="h3 mb-3 fw-normal">Register</h1>

            <div class="form-floating">
                <input type="text" formControlName="displayName" class="form-control" placeholder="Name"
                    [class.is-invalid]="_displayName.invalid && _displayName.touched"
                    [class.is-valid]="_displayName.valid">
                <label>Name</label>
                <small class="text-danger" style="font-weight: bold;"
                    [class.d-none]="_displayName.valid || _displayName.untouched"> * Name Required !</small>
            </div>

            <div class="form-floating">
                <input type="email" formControlName="email" class="form-control" placeholder="name@example.com"
                    [class.is-invalid]="_email.invalid && _email.touched ||_email?.errors?.['emailExists']" [class.is-valid]="_email.valid">
                    <span [ngClass]="{'hideLoader': !_email.pending}">
                        <i class="fa fa-spinner fa-spin text-danger loader"></i>
                    </span>
                <div *ngIf="_email.invalid && _email.touched || _email?.errors?.['emailExists']">
                    <small class="text-danger" style="font-weight: bold;" *ngIf="_email?.errors?.['required']">* Reqired
                        Email !</small>
                    <small class="text-danger" style="font-weight: bold;" *ngIf="_email?.errors?.['pattern']">*Invalid
                        Email Pattern!</small>
                        <small class="text-danger" style="font-weight: bold;" *ngIf="_email?.errors?.['emailExists']">* This Email Already
                            token !</small>


                </div>
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" formControlName="password" class="form-control" placeholder="Password"
                    [class.is-invalid]="_password.invalid && _password.touched" [class.is-valid]="_password.valid">
                <label for="floatingPassword">Password</label>
                <small class="text-danger" style="font-weight: bold;"
                    [class.d-none]="_password.valid || _password.untouched"> * Password Required !</small>
            </div>

            <div class="form-floating">
                <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Password"
                    [class.is-invalid]="registerForm.errors?.['misMatch']"
                    [class.is-valid]="!registerForm.errors?.['misMatch'] && _confirmpassword.touched &&_confirmpassword.dirty">
                <label for="floatingPassword">Confirm Password</label>
                <small class="text-danger" style="font-weight: bold;" *ngIf="registerForm.errors?.['misMatch']">
                    *Confirm Password Not Identical
                    !</small>
            </div>
            <ol *ngIf="errors" class="text-danger" style="font-weight: bold;">
                <li *ngFor="let item of errors">
                    {{item}}
                </li>
            </ol>
            <!-- <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div> -->
            <button class="w-100 btn btn-lg btn-danger" type="submit"
                [disabled]="registerForm.invalid">Register</button>
            <!-- <p class="mt-5 mb-3 text-muted">© 2023-2024</p> -->
        </form>
    </main>





</div>