<div class="container">
  <div class="row">
    <section class="col-3">
      <ul class="list-group">
        <h6 class="text-primary my-3" style="font-weight: bold;">Sorting</h6>
        <select class="form-select" aria-label="Default select example">
          <option value="1">Name</option>
          <option value="2">Price : Max-Min</option>
          <option value="3">Price : Min-Max</option>
        </select>

        <h6 class="text-primary my-3" style="font-weight: bold;">Category</h6>

        <li class="list-group-item " aria-current="true"
         *ngFor="let item of category"
         [class.active] = "item.id===categoryIdSelected"
         [value] ="item.id"
         (click) = "onCategorySelect(item.id)"
         > {{item.name}} </li>

      </ul>
    </section>
    <section class="col-9">

      <div class="d-flex justify-content-between align-items-center pb-4 pt-4">
        <div class="col-3">
          <span>Showing <strong>5</strong> of <strong>15</strong>Results </span>
        </div>
        <div class="col-9">
          <div class="input-group">
            <input class="form-control mr-2" type="text" placeholder="Search Here...">
            <button class="btn btn-outline-success">Search</button>
            <button class="btn btn-outline-warning">Reset</button>
          </div>
        </div>
      </div>


      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let item of products">
          <app-shop-item [producut] = "item"> </app-shop-item>
        </div>

      </div>
    </section>
  </div>
</div>