<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img src="/assets/Images/logo-no-background4.png" style="max-height: 35px;" alt="">
        </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2">Shop</a></li>
        <li><a href="#" class="nav-link px-2">Contact</a></li>
        <li><a href="#" class="nav-link px-2">FAQs</a></li>
        <li><a href="#" class="nav-link px-2">About</a></li>
    </ul>

    <div class="d-flex flex-wrap align-items-center">
        <a class="positon-relative">
            <i class="fa fa-shopping-cart text-dark fa-2x" style="margin-right: 30px;"></i>
            <div class="card-number">3</div>
        </a>

        <a type="button" class="btn btn-outline-primary me-2">Login</a>
        <a type="button" class="btn btn-primary">Sign-up</a>
    </div>
</header>