.card-number{
    text-decoration: none;
    position: absolute;
    background-color: rgb(42, 148, 235);
    color: white;
    border-radius: 50%;
    min-width: 24px;
    min-height: 16px;
    font-weight: 500;
    text-align: center;
    top: 13px;
    right: 287px;
}
.spcart{
    position: absolute;
    min-width: 24px;
    min-height: 16px;
    text-align: center;
    top: 27px;
    right: 275px;
}

.nav-link{
    color: rgb(0, 217, 255);

    &.active{
        color: rgb(0, 0, 233);
    }
}